[DEFAULT]
debug = false
use_stderr = false
log_file = tempest.log

[auth]
default_credentials_domain_name = {{ default_credentials_domain_name }}
admin_username = {{ admin_username }}
admin_project_name = {{ admin_project_name }}
admin_password = {{ admin_password }}
admin_domain_name = {{ admin_domain_name }}

{% if 'manila' in enabled_services %}
[share]
multitenancy_enabled = false
capability_snapshot_support = true
enable_protocols = nfs
capability_storage_protocol = NFS
max_api_microversion = 2.63
{% endif %}

{% if 'nova' in enabled_services %}
[compute]
image_ref = {{ image_id }}
image_ref_alt = {{ image_alt_id }}
flavor_ref = {{ flavor_ref }}
flavor_ref_alt = {{ flavor_ref_alt }}
min_compute_nodes = 3

# TODO: review this as its release specific
# min_microversion = 2.2
# max_microversion = latest

[compute-feature-enabled]
console_output = true
resize = true
live_migration = true
block_migration_for_live_migration = true
attach_encrypted_volume = false
{% endif %}

{% if 'keystone' in enabled_services %}
[identity]
uri = {{ proto }}://{{ keystone }}:5000/v2.0
uri_v3 = {{ proto }}://{{ keystone }}:5000/v3
auth_version = v3
admin_role = Admin
region = RegionOne
default_domain_id = {{ default_domain_id }}
admin_domain_scope = true
disable_ssl_certificate_validation = true

[identity-feature-enabled]
api_v2 = false
api_v3 = true
{% endif %}

{% if 'glance' in enabled_services %}
[image]
http_image = http://{{ test_swift_ip }}:80/swift/v1/images/cirros-0.3.4-x86_64-uec.tar.gz
{% endif %}

{% if 'neutron' in enabled_services %}
[network]
{% if test_cidr_priv %}
project_network_cidr = {{ test_cidr_priv }}
{% endif %}
public_network_id = {{ ext_net }}
dns_servers = {{ test_name_server }}
project_networks_reachable = false
floating_network_name = {{ ext_net }}

[network-feature-enabled]
ipv6 = false
api_extensions = {{ neutron_api_extensions }}
port_security = true
{% endif %}

{% if 'heat' in enabled_services %}
[orchestration]
stack_owner_role = Admin
instance_type = m1.small
keypair_name = testkey
{% endif %}

[oslo_concurrency]
lock_path = /tmp

[scenario]
img_dir = /home/ubuntu/images
img_file = cirros-0.3.4-x86_64-disk.img
img_container_format = bare
img_disk_format = qcow2

[validation]
run_validation = true
image_ssh_user = cirros

[service_available]
{% for svc in enabled_services -%}
{{ svc }} = true
{% endfor -%}
{% for svc in disabled_services -%}
{{ svc }} = false
{% endfor %}

{% if 'cinder' in enabled_services %}
[volume]
backend_names = cinder-ceph
storage_protocol = ceph
catalog_type = {{ catalog_type }}

[volume-feature-enabled]
backup = false
{% endif %}

{% if 'octavia' in enabled_services %}
[load_balancer]
enable_security_groups = true
test_with_ipv6 = false
test_server_path = {{ workspace_path }}/test_server.bin
provider = amphora
{% endif %}

{%- if 'magnum' in enabled_services %}
[magnum]
nic_id = {{ ext_net }}
image_id = {{ fedora_coreos_id }}
master_flavor_id = {{ flavor_ref }}
flavor_id = {{ flavor_ref }}
dns_nameserver = {{ test_name_server }}
network_driver = flannel
{%- if test_registry_prefix %}
labels = container_infra_prefix:{{ test_registry_prefix }}
insecure_registry = {{ test_registry_prefix }}
{%- endif %}
{%- endif %}

[dns]
nameservers = {{ test_name_server }}

[service-clients]
# Default is 60s which is not enough for resource constrained environments.
http_timeout = 120
